include *.py
include *.rst
include *.txt
include .coveragerc
include buildout.cfg

include .hgtags
exclude .hgtags

include .hgignore
exclude .hgignore

exclude MANIFEST.in

recursive-include doc *.py
recursive-include doc *.txt
